$logoColor :rgb(97, 218, 251);
#globalContainer {
    width: 1182px;
    border: 1px purple solid;
    margin: 0 auto;
}

// .header .logo
.header.slideUp {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .1);
    background: $logoColor;
    .logo {
        display: inline-block;
        width: 115px;
        height: 90px;
        background-image: url(../assets/logo_lightColor.svg);
        background-size: cover; // width: 
    }
}

.headr .logo {}

// can be modified
// .header.dark .logo, 
:not(.headroom--top).slideUp .logo {
    // .header .logo {
    background-image: url(../assets/logo.svg);
    background-size: cover; // width: 
}

.header {
    box-sizing: border-box;
    top: 0;
    height: 90px;
    z-index: 10;
    width: 100%;
    position: fixed;
    transition: background-color 250ms linear;
}

.header:not(.headroom--top).slideUp {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .1);
}

.header.dark,
:not(.headroom--top).slideUp {
    padding-bottom: 25px;
    background-color: #fff;
}

//  scss 編譯不過, but why ?
.animated {
    animation-duration: .5s;
    animation-fill-mode: both;
    will-change: transform, opacity;
}

.animated.slideUp {
    animation-name: slideUp
}

// sildeDown
// try to understand haha
.animated.slideDown {
    animation-name: slideDown;
}

// .caseDetail-page .header {
//     background-color: #fff;
// }
@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes tri {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}